/* Normalisera */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Allt i klassen outerContainer skall ha default:block och skall bli none vid klick på en planet */
  .outerContainer {
    display: block;
  }
  
    /* Allt i klassen outerContainer2 skall ha default:none och skall bli block vid klick på en planet */
  .outerContainer2 {
    display: none;
  }
  

  /* Alla buttons*/
  button {
    border-style: none;
  }

  /* Effect på alla buttons */
  .buttonEffect{
    transition: 0.5s;
    background-size: 200% auto;
  }
  
  /* Bakgrunden skall vara samma */
  body {
    background-image: linear-gradient(to right, #0c164d, #190b22);
  }
  
  /**********CONTAINER1 **********/
  .container1 {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
      "theSun1 header header"
      "theSun1  allPlanets allPlanets"
      "theSun1 footer footer";
    gap: 1rem;
  
    padding: 5rem;
  }
  
  .headerCont1 {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    color: rgb(246, 233, 233);
  }
  
  .name {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 60px;
  }
  
  .subtitle {
    display: flex;
    color: #FFD029;
  }
  
  .solen {
    grid-area: theSun1;
    position: absolute;
    top: 50%;
    transform: translate(-100%, -50%);
    background-color: #ffd029;
    height: 100px;
    width: 50px;
  
    border-bottom-right-radius: 90px;
    border-top-right-radius: 90px;
    transform: scale(6, 7);
  }
  
  .allPlanets {
    grid-area: allPlanets;
    display: flex; /* Flexbox */
    justify-content: space-evenly; /* Mellanrum mellan varje planet */
    align-items: center; /* Centrerar planeterna innuti sin box */
    
  }
  
  .merkurius {
    background-color: #888888;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 20px #888888; /* skuggningen */
    background-image: linear-gradient(45deg, #c0bebe 0%, #888888  51%, #c0bebe  100%);/* Background-image gör att det rör sig när man hovrar över */
  }
  
  .venus {
    background-color: #e7cdcd;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #e7cdcd; /* skuggningen */
    background-image: linear-gradient(45deg, #e2abab 0%, #e7cdcd  51%, #e2abab  100%);/* Background-image gör att det rör sig när man hovrar över */
  }
  
  .jorden {
    background-color: #428ed4;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #428ed4; /* skuggningen */
    background-image: linear-gradient(45deg, #8cb0d2 0%, #428ed4  51%, #8cb0d2  100%);/* Background-image gör att det rör sig när man hovrar över */
  }
  
  .mars {
    background-color: #ef5f5f;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #ef5f5f; /* skuggningen */
    background-image: linear-gradient(45deg, #f59898 0%, #ef5f5f  51%, #f59898  100%);/* Background-image gör att det rör sig när man hovrar över */
  }
  
  .jupiter {
    background-color: #e29468;
    width: 188px;
    height: 188px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #e29d75; /* skuggningen */
    background-image: linear-gradient(45deg, #dfb7a0 0%, #e29468  51%, #dfb7a0  100%);/* Background-image gör att det rör sig när man hovrar över */
    
  }

    .buttonEffect:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #ffffff;
    text-decoration: none;
  }
 
  
  .saturnus {
    /* LÄGG TILL CIRKELN RUNT OM */
    background-color: #c7aa72;
    width: 144px;
    height: 144px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #c7aa72; /* skuggningen */
    background-image: linear-gradient(45deg, #cac1b0 0%, #c7aa72  51%, #cac1b0  100%);/* Background-image gör att det rör sig när man hovrar över */
  }



  /* #ellipse{
    height: 218px;
    width: 5.5px;
    border-radius: 50%;
    background: #FFFFFF66;
    opacity: 40%;
    position: absolute;
    top: -23%;
    left: 50%;
    transform: rotate(60deg);
  } */
  
  .uranus {
    background-color: #c9d4f1;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #c9d4f1; /* skuggningen */
    background-image: linear-gradient(45deg, #a5a5a5 0%, #c9d4f1  51%, #a5a5a5  100%);/* Background-image gör att det rör sig när man hovrar över */
  }
  
  .neptunus {
    background-color: #7a91a7;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    box-shadow: 0px 0px 50px 10px #7a91a7; /* skuggningen */
    background-image: linear-gradient(45deg, #a8b7c6 0%, #7a91a7  51%, #a8b7c6  100%);/* Background-image gör att det rör sig när man hovrar över */
  }
  
  footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }
  
  /**********CONTAINER 2 **********/
  
  .container2 {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:25% 50% 25% ;
    grid-template-rows:10% 80% 10%;
    grid-template-areas:
    "solen . ."
    "solen content ."
    "solen footer footer" ;
  }
  
  .latinName{
    color: #FFD029;
  }
  
  .sunSection2 {
    grid-area: solen;
    display: flex;
    align-items: center;
  
  }
  
  .theSun2 {
    background-color: #6629ff;
    position: absolute; 
    top: 50%; /* Placerar solen från toppen till mitten */
    left: 15%; /* Placerar solen från vänster till mitten */
    transform: translate(-100%, -50%); 
    height: 700px; 
    width: 350px; 
    border-radius: 0 350px 350px 0;
   /* Box-Shadow skapar skuggan. Man kan ha flera skuggor */
    box-shadow: rgb(66, 142, 212, 0.10) 0px 0px 0px 100px, 
      rgb(66, 142, 212, 0.06) 0px 0px 0px 50px;
    background-image: linear-gradient(45deg, #8352ff 0%, #6629ff  51%, #8352ff  100%);/* Background-image gör att det rör sig när man hovrar över */
  }
  
  
  .infoContainer {
    grid-area: content;
    color: whitesmoke;
    margin: 50px;
  }
  
  .item1 {
    margin-bottom: 20px;
  }
  
  .item2 {
    margin-bottom: 20px;
  }
  
  .line {
    margin-bottom: 20px;
  }
  
  .item3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  
  .item3.text{
      grid-column: span 2;
      text-align: center;
  }
  
  .item3.text:nth-child(odd){
      grid-column: 1;
  }
  
  .item3.text:nth-child(even){
      grid-column: 2;
  }
  
  .item4{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
    }
    
    .item4.text{
        grid-column: span 2;
        text-align: center;
    }
    
    .item4.text:nth-child(odd){
        grid-column: 1;
    }
    
    .item4.text:nth-child(even){
        grid-column: 2;
    }
  
  
    .item5{
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 20px;
    }
    
    .item5.text{
        grid-column: span 1;
        text-align: center;
    }
  
    .item3
    .item4
    .item5{
      padding: 10px;
    }
  